In [2]:
import os
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession/src')
from charting import *

In [4]:
os.chdir('/home/cj/Documents/dsi/capstones/report-card-recession')
test = Vector(1024, recession = 2001, variable = 'wage')
vars(test)

{'key': 1024,
 'recession': <classes.Recession at 0x7ff762503610>,
 'dimension': 'industry',
 'variable': 'wage',
 'index_col': 'industry_code',
 'index_title': 'industry_title',
 'row': <classes.Industry at 0x7ff77a6be160>,
 'df':                                               industry_title  2000.25  2000.5  \
 industry_code
 10                                     Total, all industries     4938    4810
 11                Agriculture, forestry, fishing and hunting     2116    2233
 21             Mining, quarrying, and oil and gas extraction     1158    1065
 22                                                 Utilities     4639    4226
 23                                              Construction     2665    2522
 ...                                                      ...      ...     ...
 926150           Licensing and regulating commercial sectors     2570    2705
 927110                         Space research and technology     1202    1276
 928110                                     National security     1546    1479
 928120                                 International affairs     2039    2004
 999999                                          Unclassified        0       0

                2000.75  2001.0  2001.25  2001.5  2001.75  2002.0  2002.25  \
 industry_code
 10                4865    5076     5148    5041     4958    5249     5246
 11                2148    2338     2118    2247     2139    2441     2222
 21                1069    1172     1924    1810     1793    1832     1920
 22                4300    4666     3440    3224     3218    3511     3553
 23                2493    2630     3564    3226     3426    3377     3705
 ...                ...     ...      ...     ...      ...     ...      ...
 926150            2603    2870     2677    2857     2720    3042     2848
 927110            1156    1301     1225    2078     2137    1412     1390
 928110            1583    1483     2071    1970     1918    2027     2193
 928120            2023    2158     2767    2841     2779    2779     2938
 999999               0       0     3581    3774     2933     803     3581

                ...  pre_peak_qtr  post_peak  post_peak_time  post_peak_qtr  \
 industry_code  ...
 10             ...       2001.25    6562.00              32        2008.00
 11             ...       2002.00    2866.00              28        2007.00
 21             ...       2001.25    2587.00              25        2006.25
 22             ...       2001.00    5889.00              29        2007.25
 23             ...       2002.75    4048.00              26        2006.50
 ...            ...           ...        ...             ...            ...
 926150         ...       2001.00    3903.00              32        2008.00
 927110         ...       2001.75    2084.00              31        2007.75
 928110         ...       2004.25    2412.00              19        2004.75
 928120         ...       2004.25    2006.25               1        2000.25
 999999         ...       2001.50    5013.00              14        2003.50

                recovery  recovery_time  recovery_qtr  decline_time  \
 industry_code
 10                    1            1.0       2002.00             2
 11                    1            2.0       2003.00             2
 21                    1            1.0       2003.00             6
 22                    1            5.0       2003.00             3
 23                    0            NaN           NaN             4
 ...                 ...            ...           ...           ...
 926150                1            1.0       2002.00             3
 927110                0            NaN           NaN             4
 928110                1            1.0       2004.75             1
 928120                0            NaN           NaN             8
 999999                1            2.0       2002.50             2

                growth_time    delta
 industry_code
 10                      25  1414.00
 11                      18   425.00
 21                      14   663.00
 22                      22  1223.00
 23                      11   -75.00
 ...                    ...      ...
 926150                  25  1033.00
 927110                  20   -53.00
 928110                   1    12.00
 928120                 -24 -1402.75
 999999                   6  1239.00

 [2385 rows x 48 columns],
 'y': array([3317., 3237., 3324., 3387., 3480., 3411., 3191., 3717., 3585.,
        3576., 3446., 3852., 3711., 3880., 3637., 4084., 3938., 3960.,
        3913., 4137., 4159., 4021., 4307., 4220., 4499., 4260., 4138.,
        4223., 4555., 4275., 4418., 4324.]),
 'label': 'Professional and business services',
 'pre_peak': 3480,
 'nadir': 3191,
 'recovery': 1,
 'post_peak': 4555.0,
 'delta': 1075.0,
 'pre_peak_time': 5,
 'decline_time': 2,
 'nadir_time': 7,
 'recovery_time': 1.0,
 'growth_time': 22,
 'post_peak_time': 29,
 'recovery_qtr': 'Q4 2001',
 'nadir_qtr': 'Q3 2001',
 'pre_peak_qtr': 'Q1 2001',
 'post_peak_qtr': 'Q1 2007'}

In [5]:
loadpath = filepath(variable = 'wage', dimension = 'industry', charttype= 'target', recession = 2001, filetype = 'json')
df = pd.read_json(loadpath)
df

,industry_code,industry_title,2000.25,2000.5,2000.75,2001.0,2001.25,2001.5,2001.75,2002.0,...,pre_peak_qtr,post_peak,post_peak_time,post_peak_qtr,recovery,recovery_time,recovery_qtr,decline_time,growth_time,delta
0,10,"Total, all industries",4938,4810,4865,5076,5148,5041,4958,5249,...,2001.25,6562.00,32,2008.00,1,1.0,2002.00,2,25,1414.00
1,11,"Agriculture, forestry, fishing and hunting",2116,2233,2148,2338,2118,2247,2139,2441,...,2002.00,2866.00,28,2007.00,1,2.0,2003.00,2,18,425.00
2,21,"Mining, quarrying, and oil and gas extraction",1158,1065,1069,1172,1924,1810,1793,1832,...,2001.25,2587.00,25,2006.25,1,1.0,2003.00,6,14,663.00
3,22,Utilities,4639,4226,4300,4666,3440,3224,3218,3511,...,2001.00,5889.00,29,2007.25,1,5.0,2003.00,3,22,1223.00
4,23,Construction,2665,2522,2493,2630,3564,3226,3426,3377,...,2002.75,4048.00,26,2006.50,0,NaN,NaN,4,11,-75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380,926150,Licensing and regulating commercial sectors,2570,2705,2603,2870,2677,2857,2720,3042,...,2001.00,3903.00,32,2008.00,1,1.0,2002.00,3,25,1033.00
2381,927110,Space research and technology,1202,1276,1156,1301,1225,2078,2137,1412,...,2001.75,2084.00,31,2007.75,0,NaN,NaN,4,20,-53.00
2382,928110,National security,1546,1479,1583,1483,2071,1970,1918,2027,...,2004.25,2412.00,19,2004.75,1,1.0,2004.75,1,1,12.00
2383,928120,International affairs,2039,2004,2023,2158,2767,2841,2779,2779,...,2004.25,2006.25,1,2000.25,0,NaN,NaN,8,-24,-1402.75
2384,999999,Unclassified,0,0,0,0,3581,3774,2933,803,...,2001.50,5013.00,14,2003.50,1,2.0,2002.50,2,6,1239.00